apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base
  - ZeroTrustWorkloadIdentityManager.yaml

patches:
  - target:
      kind: SpireOIDCDiscoveryProvider
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: replace
        path: /spec/jwtIssuer
        value: 'https://spire-spiffe-oidc-discovery-provider.apps.example.openshift.io'
  - target:
      kind: SpireServer
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: replace
        path: /spec/jwtIssuer
        value: 'https://spire-spiffe-oidc-discovery-provider.apps.example.openshift.io'
  - target:
      kind: ZeroTrustWorkloadIdentityManager
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: replace
        path: /spec/trustDomain
        value: 'apps.example.openshift.io'
