apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-gatekeeper-operator

commonAnnotations:
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

resources:
  - gatekeeper.yaml
