apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: SpireOIDCDiscoveryProvider
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: add
        path: /spec/trustDomain
        value: 'apps.example.openshift.io'
      - op: add
        path: /spec/clusterName
        value: 'cluster'
      - op: replace
        path: /spec/jwtIssuer
        value: 'https://spire-spiffe-oidc-discovery-provider.apps.example.openshift.io'
  - target:
      kind: SpireAgent
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: add
        path: /spec/trustDomain
        value: 'apps.example.openshift.io'
      - op: add
        path: /spec/clusterName
        value: 'cluster'
  - target:
      kind: SpireServer
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: add
        path: /spec/trustDomain
        value: 'apps.example.openshift.io'
      - op: add
        path: /spec/clusterName
        value: 'cluster'
      - op: replace
        path: /spec/jwtIssuer
        value: 'https://spire-spiffe-oidc-discovery-provider.apps.example.openshift.io'
      - op: add
        path: /spec/persistence/type
        value: 'pvc'
  - target:
      kind: SpiffeCSIDriver
      group: operator.openshift.io
      version: v1alpha1
    patch: |-
      - op: replace
        path: /spec/agentSocketPath
        value: '/run/spire/agent-sockets/spire-agent.sock'
