extends: default

ignore:
  - "**/charts/*" # ignore locally rendered helm charts

rules:
  braces:
    ignore: /grafana-operator/base/instance/grafana.yaml
  document-start: disable
  indentation:
    indent-sequences: whatever
  line-length: disable
  truthy:
    ignore: .github/workflows/
  comments-indentation: disable
  comments:
    min-spaces-from-content: 1
