extends: default

rules:
  braces:
    min-spaces-inside: 0
    max-spaces-inside: 1
  comments-indentation: disable
  document-start: disable
  indentation:
    indent-sequences: whatever
  line-length: disable
  new-line-at-end-of-file: enable
  # truthy:
  #   ignore: .github/workflows/
ignore:
  - "scratch/*"
  - "gpu-operator-certified/operator/components/console-plugin-helm/charts/*"
