---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization


resources:
  - ../../base
patches:
  - path: patch-channel.yaml
    target:
      group: operators.coreos.com
      kind: Subscription
      name: loki-operator
      namespace: openshift-operators-redhat
      version: v1alpha1
