apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-operators

resources:
  - ../../base

patches:
  # https://github.com/redhat-developer/web-terminal-operator
  - target:
      group: workspace.devfile.io
      kind: DevWorkspaceTemplate
      name: web-terminal-tooling
    path: web-terminal-tooling.yaml
