apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-operators

bases:
  - ../../base

patchesJson6902:
- target:
    group: operators.coreos.com
    version: v1alpha1
    kind: Subscription
    name: amq-streams
    namespace: openshift-operators
  path: patch-channel.yaml