<settings>
    <localRepository>/data/m2</localRepository>
    <interactiveMode>false</interactiveMode>
    <pluginGroups>
      <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
    <servers>
      <server>
        <id>nexus-releases</id>
        <username>${env.MAVEN_SERVER_USERNAME}</username>
        <password>${env.MAVEN_SERVER_PASSWORD}</password>
      </server>
      <server>
        <id>nexus-snapshots</id>
        <username>${env.MAVEN_SERVER_USERNAME}</username>
        <password>${env.MAVEN_SERVER_PASSWORD}</password>
      </server>
    </servers>
    <mirrors>
      <mirror>
        <id>internal-repository</id>
        <name>Internal Nexus Maven Proxy</name>
        <url>http://nexus:8081/content/groups/public</url>
        <mirrorOf>external:*</mirrorOf>
      </mirror>
    </mirrors>
    <profiles>
      <profile>
        <id>nexus-internal</id>
        <properties>
          <repository.snapshots>http://nexus:8081/content/repositories/snapshots</repository.snapshots>
          <repository.releases>http://nexus:8081/content/repositories/releases</repository.releases>
        </properties>
        <repositories>
          <repository>
            <id>maven-releases</id>
            <url>${repository.releases}</url>
            <layout>default</layout>
            <releases>
              <enabled>true</enabled>
            </releases>
            <snapshots>
              <enabled>false</enabled>
            </snapshots>
          </repository>
          <repository>
            <id>maven-snapshots</id>
            <url>${repository.snapshots}</url>
            <layout>default</layout>
              <releases>
                <enabled>false</enabled>
              </releases>
            <snapshots>
              <enabled>true</enabled>
            </snapshots>
          </repository>
        </repositories>
      </profile>
      <profile>
        <id>sonar</id>
        <activation>
          <activeByDefault>true</activeByDefault>
        </activation>
        <properties>
          <sonar.host.url>
            http://sonarqube:9000
          </sonar.host.url>
          <sonar.dependencyCheck.jsonReportPath>target/dependency-check-report.json</sonar.dependencyCheck.jsonReportPath>
          <sonar.java.pmd.reportPaths>target/pmd.xml</sonar.java.pmd.reportPaths>
          <sonar.java.checkstyle.reportPaths>target/checkstyle-result.xml</sonar.java.checkstyle.reportPaths>
        </properties>
      </profile>
    </profiles>
    <activeProfiles>
      <activeProfile>nexus-internal</activeProfile>
      <activeProfile>sonar</activeProfile>
      <activeProfile>quality</activeProfile>
    </activeProfiles>
</settings>
