kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: openshift-operators

commonAnnotations:
  argocd.argoproj.io/sync-wave: "0"

resources:
  - namespace.yaml
  - compliance-operator-subscription.yaml
  - compliance-operator-operatorgroup.yaml

patches:
  - target:
      kind: Subscription
      name: compliance-operator
    patch: |-
      - op: replace
        path: /spec/channel
        value: 'release-0.1'
