kind: Kustomization
apiVersion: kustomize.config.k8s.io/v1beta1

namespace: openshift-compliance

commonAnnotations:
  argocd.argoproj.io/sync-wave: "1"
  argocd.argoproj.io/sync-options: SkipDryRunOnMissingResource=true

resources:
  - ../../operator/overlays/release-0.1
  - moderate-scan-setting.yaml
  - moderate-scan-setting-binding.yaml
