apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patchesJson6902:
- target:
    group: operators.coreos.com
    version: v1alpha1
    kind: Subscription
    name: openshift-pipelines-operator
    namespace: openshift-operators
  path: patch-4.5-channel.yaml