apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: openshift-operators

resources:
  - ../../base

patches:
  - patch: |-
      - op: replace
        path: /spec/channel
        value: 'stable'
    target:
      group: operators.coreos.com
      kind: Subscription
      name: devspaces
      namespace: openshift-operators
      version: v1alpha1
