name: Check Spelling
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  lint-spelling:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11  # v4
      - name: Spellcheck
        uses: rojopolis/spellcheck-github-actions@0.27.0
