name: Validate Manifests
on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  lint-kustomize:
    runs-on: ubuntu-latest
    # env:
    # KUSTOMIZE_URL: "https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize/v5.0.0/kustomize_v5.0.0_linux_amd64.tar.gz"
    # BIN_PATH: /usr/local/bin
    steps:
      # Kustomize now comes pre-installed on the "ubuntu-latest" image, no need for manual installation
      #
      # - name: Install Kustomize
      #   run: |
      #     echo "Downloading Kustomize from URL: ${KUSTOMIZE_URL} and saving into ${BIN_PATH}/"
      #     sudo curl --location --no-buffer "${KUSTOMIZE_URL}" | tar -xvz -C "${BIN_PATH}/"
      #     sudo chmod +x ${BIN_PATH}/kustomize
      #
      - name: Code Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4

      - name: Verify Kustomize CLI Installation
        run: |
          which kustomize
          kustomize version

      - name: Validate Manifests
        run: |
          [ -d ./bootstrap/base ] && touch bootstrap/base/sealed-secrets-secret.yaml
          ./scripts/validate_manifests.sh

  lint-yaml:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Validate YAML
        uses: ibiqlik/action-yamllint@2576378a8e339169678f9939646ee3ee325e845c  # v3
        with:
          format: github

  lint-bash:
    runs-on: ubuntu-latest
    steps:
      - name: Code Checkout
        uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          version: v0.8.0
          severity: warning
