apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../../base

patches:
  - target:
      kind: Subscription
      name: redhat-openshift-servicemesh-3
    path: patch-channel.yaml
